.Card {
  width: 220px;
  height: 270px;
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  gap: 20px;
  &:hover {
    transform: translateY(-5px);
  }
  .cardFooter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    .price p:first-child {
      color: #bdbdbd;
    }
    .price p:last-child {
      font-weight: bold;
      font-size: 24px;
    }
    .addToCart-btn {
      width: 32px;
      height: 32px;
      border-radius: 8px;
      border: 1px solid grey;
      color: #8b8383;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
      font-weight: bold;
      cursor: pointer;
    }
  }
}
